@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --Blue: hsl(246, 80%, 60%);

  --LightOrrange: hsl(15, 100%, 70%);
  --Softblue: hsl(195, 74%, 62%);
  --Lightred: hsl(348, 100%, 68%);
  --Limegreen: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Softorange: hsl(43, 84%, 65%);

  --Verydarkblue: hsl(226, 43%, 10%);
  --Darkblue: hsl(235, 46%, 20%);
  --Desaturatedblue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--Verydarkblue);
}

@media screen and (700px>=width) {
  .card {
    width: 100vw;
  }
  .profileCardPC {
    width: 300px;
    height: 250px;
    margin: 2rem auto;
    border-radius: 20px;
  }
  .profileDetailsPC {
    border-radius: 20px;
    position: relative;
    height: 170px;
  }
  .profileDetailsPC .circlePC {
    position: absolute;
    inset: 0;
    left: 30px;
    top: 50px;
  }
  .profileDetailsPC p {
    position: absolute;
    color: #fff;
    font-size: 12px;
    height: 100px;
    inset: 0;
    top: 80px;
    left: 110px;
  }
  .profileDetailsPC span {
    font-size: 1.4rem;
  }
  .profileCardPC .reportPC {
    color: #fff;
    font-size: 14px;
    display: flex;
    width: 100%;
    min-height: 75px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .circlePC {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .circlePC img {
    width: 93%;
  }
  .workCardPC {
    margin: 1rem auto;
    width: 300px;
    border-radius: 20px;
  }
  .cardDetailsPC {
    border-radius: 20px;
    background-color: var(--Darkblue);
  }
}

@media screen and (width>700px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    padding: 5%;
    height: 700px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(268px,1fr)); */
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 200px 200px;
    grid-template-areas:
      "a b c d"
      "a e f g";
    gap: 1rem;
    margin: 0 0;
  }

  .profileCardPC {
    grid-area: a;
    border-radius: 20px;
    position: relative;
  }
  .profileDetailsPC {
    height: 70%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  .profileDetailsPC p {
    color: #fff;
    font-size: 12px;
  }
  .profileDetailsPC span {
    font-size: 2rem;
  }
  .profileCardPC .reportPC {
    color: #fff;
    padding: 1rem;
    line-height: 1.7;
    font-size: 14px;
  }
  .circlePC {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .circlePC img {
    width: 93%;
  }
  .work {
    grid-area: b;
    position: relative;
    border-radius: 20px;
  }
  .work .cardDetailsPC {
    background-color: var(--Darkblue);
    height: 70%;
    border-radius: 20px;
  }
  .workCardPC {
    position: relative;
  }
  .workCardPC img {
    position: absolute;
    height: 70px;
    right: 1rem;
  }
  .workNtimePC {
    color: #fff;
    position: absolute;
    top: 25px;
    left: 10px;
    line-height: 1.5;
  }
  .weeklyTimePC {
    color: var(--PaleBlue);
    position: absolute;
    top: 100px;
    left: 10px;
  }
  .weeklyTimePC img {
    position: absolute;
    left: 150px;
    top: -60px;
  }

  .play {
    position: relative;
    border-radius: 20px;
    grid-area: c;
  }
  .cardDetailsPC {
    background-color: var(--Darkblue);
    height: 70%;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    top: 31%;
  }
  .cardDetailsPC img {
    width: 25px;
    height: 5px;
  }
  .study {
    position: relative;
    border-radius: 20px;
    grid-area: d;
  }

  .exercise {
    position: relative;
    border-radius: 20px;
    grid-area: e;
  }

  .social {
    position: relative;
    border-radius: 20px;
    grid-area: f;
  }

  .selfCare {
    position: relative;
    border-radius: 20px;
    grid-area: g;
  }
}
